@font-face {
  font-family: Commissioner;
  src: url("../fonts/Commissioner-BlackItalic.woff2");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: Commissioner;
  src: url("../fonts/Commissioner-SemiBold.woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Commissioner;
  src: url("../fonts/Commissioner-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Commissioner;
  src: url("../fonts/Commissioner-Italic.woff2");
  font-weight: 400;
  font-style: italic;
}
