.landing-content {
  display: grid;
  grid-template-columns: 1fr [start] minmax(0, 500px) [center] minmax(0, 500px) [end] 1fr;
  justify-content: center;
  column-gap: 5vw;

}
.landing-header {
  grid-column: start / end;
  text-align: center;
  padding-top: min(20vh, 150px);
  padding-bottom: min(20vh, 150px);

  p {
    font: var(--font-intro);
    letter-spacing: var(--font-intro-spacing);
    color: var(--color-red);
    margin: 20px 0 min(20vh, 100px);
    text-wrap: balance;
  }
}

.landing-logo {
  fill: var(--color-red);
  width: min(70vw, 800px);
  height: auto;

  .logo-banana {
    fill: var(--color-white);
  }
}
.landing-substrack,
.landing-section {
  display: grid;
  grid-column: start / end;
  grid-template-columns: subgrid;
  column-gap: 50px;
  align-items: center;

  img {
    max-width: 400px;
  }
  div {
    max-width: 400px;
  }
}
.landing-section:nth-child(odd) {
  img {
    order: -1;
  }
}
.landing-section {
  color: var(--color-red);
  font: var(--font-small);

  h2 {
    font: var(--font-intro);
    line-height: 1.1;
    letter-spacing: var(--font-intro-spacing);
    text-wrap: balance;
  }
}
.landing-substrack {
  color: var(--color-red);
  font: var(--font-small);
  padding: min(50px, 5vw);
  border: solid 1px;
  border-radius: var(--border-radius-big);

  h2 {
    font: var(--font-title);
    text-transform: uppercase;
    letter-spacing: var(--font-title-spacing);
    text-wrap: balance;
    grid-column: start / end;
    text-align: center;
    margin: 0;
  }
}

.landing-pricing {
  grid-column: start / center;
  text-align: center;
  font: var(--font-small);
  line-height: 1.2;
  justify-self: start;
  color: var(--color-red);

  > header {
    h2 {
      margin: 0;
      font: var(--font-text-bold);
    }
    p {
      margin: .5em 0 0;
    }
  }
}
.landing-pricing-card {
  border-radius: var(--border-radius-big);
  border: solid 1px;
  margin: 20px auto 0;
  width: fit-content;
  padding: min(20px, 5vw);

  h3 {
    font: var(--font-title);
    text-transform: uppercase;
    letter-spacing: var(--font-title-spacing);
    margin: 0;
  }
  ul {
    text-align: left;
    width: fit-content;
    margin: 1em auto;
  }
  footer {
    font: var(--font-xsmall);
  }
}
.landing-contact {
  grid-column: center / end;
  font: var(--font-small);
  max-width: 400px;
  color: var(--color-red);

  h2 {
    margin: 0;
    font: var(--font-text-bold);
  }
  p {
    margin: .5em 0 0;
  }
}
.landing-faq {
  grid-column: start / end;
  display: grid;
  grid-template-columns: subgrid;
  
  details {
    grid-column: start / center;
    display: grid;
    position: relative;

    > div {
      position: absolute;
      left: 100%;
      top: 0;
    }
  }
}
.landing-footer {
  grid-column: start / end;
  display: grid;
  grid-template-columns: subgrid;
}

.main {
  --gap: min(5vw, 35px);

  display: grid;
  gap: var(--gap);
  padding: var(--gap);
  grid-template-rows: 1fr;
}
.main-navbar {
  display: flex;
  gap: var(--gap);
}

.main-logo {
  display: block;

  .logo-letters {
    fill: var(--color-white);
  }

  .logo-banana {
    fill: var(--color-red);
  }
}
.is-inverted > .main-navbar {
  .logo-letters {
    fill: var(--color-red);
  }

  .logo-banana {
    fill: var(--color-white);
  }
}
.main-content {
  color: var(--color-blue);
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  padding: var(--gap);
  position: relative;
}
.main-footer-menu {
  display: flex;
  list-style-type: "";
  padding: 0;
  margin: -10px 0;
  gap: 10px;
  font: var(--font-xsmall-bold);

  a {
    color: var(--color-white);
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    border-radius: var(--border-radius);

    &:hover {
      background-color: color-mix(
        in srgb,
        var(--color-blue) 10%,
        var(--color-red)
      );
    }
  }
}
.main.is-inverted .main-footer-menu a {
  color: var(--color-red);
  &:hover {
    color: var(--color-blue);
    background-color: color-mix(
      in srgb,
      var(--color-blue) 10%,
      var(--color-white)
    );
  }
}
@media (width < 400px) {
  .main {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;

    &:not(:has(> .main-navbar)) {
      padding-top: 0;
    }
  }
  .main-navbar {
    padding-inline: var(--gap);
  }
  .main-content {
    border-radius: 0;
  }
}
