.texts {
  padding: min(5vw, 50px);
  max-width: 70ch;
  background-color: var(--color-white);
  color: var(--color-blue);

  font: var(--font-text);
}

.texts-logo {
  width: min(100%, 500px);
  height: auto;

  .logo-banana {
    fill: var(--color-white);
  }

  .logo-letters {
    fill: var(--color-red);
  }
}
.texts-content {
  margin-top: 100px;
}