---
layout: ./base.vto
---

<body class="texts">
  <a href="/"><img class="texts-logo" src="/img/supermono.svg" inline></a>

  <div class="texts-content">
    <h1>{{ title }}</h1>
    {{ content }}
  </div>
</body>
